<?xml version="1.0" encoding="UTF-8"?>
<RunSettings>

  <TestRunParameters>
      <Parameter name="SiteURL" value="https://www.translink.ca"/>
  </TestRunParameters>

  <!--<DataCollectionRunSettings>
      <DataCollectors>
        <DataCollector uri="datacollector://microsoft/VideoRecorder/1.0" assemblyQualifiedName="Microsoft.VisualStudio.TestTools.DataCollection.VideoRecorder.VideoRecorderDataCollector, Microsoft.VisualStudio.TestTools.DataCollection.VideoRecorder, Version=15.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" friendlyName="Screen and Voice Recorder">
        </DataCollector>
      </DataCollectors>
  </DataCollectionRunSettings>-->

  <!--<RunConfiguration>
	  <DisableAppDomain>true</DisableAppDomain>
    <TargetPlatform>x64</TargetPlatform>
    <ResultsDirectory>%temp%\TestResults</ResultsDirectory>
  </RunConfiguration>-->

  <MSTest>
      <DeploymentEnabled>true</DeploymentEnabled>
      <DeleteDeploymentDirectoryAfterTestRunIsComplete>false</DeleteDeploymentDirectoryAfterTestRunIsComplete>
  </MSTest>

</RunSettings>
